sudo: false
language: python
matrix:
  include:
  - os: linux
    python: 3.6
  - os: osx
    language: generic
before_script:
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter; chmod +x ./cc-test-reporter; ./cc-test-reporter before-build;
  fi
before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update -q; brew upgrade -q python;
  fi
- pip install tox-travis
script: tox
after_script:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./cc-test-reporter after-build --exit-code
  $TRAVIS_TEST_RESULT; fi
